<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <!-- <p class="title">~ camover ~</p> -->
        
        <div class="stream">
            <img src="/video_feed" width="640" height="480">
        </div>
        

        <div class="global_actions">
            <p id="battery-indicator">battery level : <span id="battery-level">loading...</span> V</p>
            <div class="buttons1">
                <button id="fast_turn_right">fast turn right</button> 
                <button id="turn_right">turn right</button>
                <button id="forward">forward</button>          
                <button id="turn_left">turn left</button>
                <button id="fast_turn_left">fast turn left</button>
                             
            </div>                
            <div class="buttons2">
                <button id="backward">backward</button>
                <button id="buzzer">buzzer</button>
            </div>    
        </div>
        

        <script src="/static/app.js" charset="utf-8"></script>

    </body>
</html>

<!-- <!DOCTYPE html>
<html>
<body>
<h1>HTML DOM Events</h1>
<h2>The onmousedown Event</h2>

<p>Clock the text below!</p>
<p id="myP" onmousedown="mouseDown()" onmouseup="mouseUp()">
The mouseDown() function sets the color of this text to red.
The mouseUp() function sets the color of this text to blue.
</p>

<script>
function mouseDown() {
  document.getElementById("myP").style.color = "red";
}

function mouseUp() {
  document.getElementById("myP").style.color = "blue";
}
</script>

</body>
</html> -->
