<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" />
    </head>

    <body>
        
        <h1>~ camover ~</h1>
        <img src="/video_feed" width="640" height="480">
        <br>
        <p>battery level : <span id="battery-level">loading...</span> V</p>

        <button onclick="send_command('forward')">forward</button>
        <button onclick="send_command('backward')">backward</button>
        <button onclick="send_command('turn_left')">turn left</button>
        <button onclick="send_command('turn_right')">turn right</button>
        <button onclick="send_command('stop')">stop</button>

        <script src="/static/app.js" charset="utf-8"></script>

    </body>
</html>