@font-face {
    font-family: "Tiny5";
    src: url("/static/fonts/pixel.ttf") format("truetype");
}
@font-face {
    font-family: "Pixgamer";
    src: url("/static/fonts/pixgamer.ttf") format("truetype");
}
@font-face {
    font-family: "Pixel3";
    src: url("/static/fonts/pixel3.ttf") format("truetype");
}
@font-face {
    font-family: "Pixel4";
    src: url("/static/fonts/pixel4.ttf") format("truetype");
}
@font-face {
    font-family: "Minecraft";
    src: url("/static/fonts/minecraft.otf") format("opentype");
    font-display: swap;
}

body {
    margin: 0;
    background: black;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    font-family: monospace;
}

.header {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.text1 {
    font-family: "Pixel4", monospace;
    /* -webkit-text-stroke: 2px black; */
    letter-spacing: 0.05em; 
    text-shadow:
        -0.05em -0.05em 0 #000,
        0.05em -0.05em 0 #000,
        -0.05em  0.05em 0 #000,
        0.05em  0.05em 0 #000,
        -0.05em  0      0 #000,
        0.05em  0      0 #000,
        0      -0.05em 0 #000,
        0       0.05em 0 #000;
    font-size: clamp(4rem, 15vh, 10rem);
    color: white;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
#cpu-temp {
    font-size: clamp(3rem, 10vh, 8rem);
    /* padding-left: 20px; */
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.button {
    background: none;
    border: none;
    user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    touch-action: none; 
    padding: 0;
    margin: 0;

}
.button2 {
    background-color: white;
    color: #000000;
    padding: 4px 4px;
    border-radius: 0px;
    font-size: clamp(0.5rem, 2vw, 2rem);
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    touch-action: none; 
    font-family: "Minecraft", monospace;
    /* text-shadow:
        -0.05em -0.05em 0 #000,
        0.05em -0.05em 0 #000,
        -0.05em  0.05em 0 #000,
        0.05em  0.05em 0 #000,
        -0.05em  0      0 #000,
        0.05em  0      0 #000,
        0      -0.05em 0 #000,
        0       0.05em 0 #000; */
}


.stream {
    position: relative;
    height: 100vh;
}

#stream-id {
    display: block;
    height: 100%;
    width: auto;
}

.button-img {
    image-rendering: pixelated;
    display: block;
    width: clamp(48px, 8vw, 128px);
    height: clamp(48px, 8vw, 128px);
}
.button:active img {
    transform: scale(0.99);
}

/* 
global_actions
        .button2
    .buttons-bottom
        .buttons-turn
        .buttons-fast-turn       .buttons-main
*/


.global_actions {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    pointer-events: none;
}



.global_actions * {
    pointer-events: auto;
}

.buttons-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
} 

.button-rot {
   display: flex; 
   flex-direction: column-reverse;
   gap: 12px;
}
.buttons-turn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.buttons-fast-turn  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.buttons-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

#fullscreen {
    padding-left: 20px;
    padding-top: 20px;
}